Package: com.sini921.showmytouches
Name: ShowMyTouches【rootless】
Version: 0.0.1
Architecture: iphoneos-arm
Description: 触摸轨迹，基于开源代码的基础上，增加滑动轨迹效果
icon: https://sini921.github.io/repo/sileodepiction/icon/showmytouches.png
Sileodepiction: https://sini921.github.io/repo/sileodepiction/showmytouches/js.json
Maintainer: dvntm & SINI
Author: dvntm & SINI
Section: 越狱插件
Depends: mobilesubstrate (>= 0.9.5000)
